{{- if eq .chezmoi.hostname "prometheus" -}}
monitorv2 {
    output = eDP-2
    mode = 2880x1620@120.0
    position = 0x0
    scale = 2.0
}

{{- else if eq .chezmoi.hostname "daedalus" -}}
monitorv2 {
    output = DP-2
    mode = 2560x1440@180.0
    position = 0x0
    scale = 1.6
    bitdepth = 10
    cm = hdr
    sdrbrightness = 1.35
    sdrsaturation = 1.5
}

{{- else -}}
# Fallback: auto-detect
monitor=,preferred,auto,auto

{{- end -}}
