@define-color background #2b3339;
@define-color foreground #d3c6aa;
@define-color cursor #d3c6aa;

@define-color color0 #4b565c;
@define-color color1 #e67e80;
@define-color color2 #a7c080;
@define-color color3 #dbbc7f;
@define-color color4 #7fbbb3;
@define-color color5 #d699b6;
@define-color color6 #83c092;
@define-color color7 #d3c6aa;
@define-color color8 #5c6a72;
@define-color color9 #f85552;
@define-color color10 #8da101;
@define-color color11 #dfa000;
@define-color color12 #3a94c5;
@define-color color13 #df69ba;
@define-color color14 #35a77c;
@define-color color15 #e3e6ee;
