@define-color background #2d3142;
@define-color foreground #c4c8d4;
@define-color cursor #e8eaf0;

@define-color color0 #2d3142;
@define-color color1 #4a5068;
@define-color color2 #5a6478;
@define-color color3 #6e7a8a;
@define-color color4 #4e5c80;
@define-color color5 #6a6e88;
@define-color color6 #6e8496;
@define-color color7 #c4c8d4;
@define-color color8 #3d4358;
@define-color color9 #7e8898;
@define-color color10 #92a0b0;
@define-color color11 #a8b0be;
@define-color color12 #7a8db0;
@define-color color13 #9098b0;
@define-color color14 #a8c0d4;
@define-color color15 #e8eaf0;
